@import 'nib'
@import './font-awesome.min.css'
global-reset()

body
  background-color #eee
  font-family Hack, Helvetica, Arial, sans-serif
  size 12px
  color #333

a
  text-decoration none
  color #999
  transition all .3s
  &:hover
    color #000
  
.bg-insta-info
  width 100vw
  height 100vh
  background-position center
  background-size auto 100%
  background-repeat no-repeat
  &:after
    content ''
    display block
    width 100vw
    height 100vh
    background-color rgba(255,255,255,.7)

.axis-wrapper
  absolute top 50% left 50%
  transform translate(-50%, -50%)

.main-insta-view
  width 80vw
  min-width 800px
  height 70vh
  position relative
  // background-color rgba(255,255,255,.8)

.insta-img
  background-size 100%
  cursor pointer
  width 20px
  height 20px
  position absolute
  border 1px solid rgba(0,0,0,.2)
  transition transform .2s
  &:hover
    transform translateY(-2px)

.img-fullscreen
  display none
  background rgba(#fff, .9)
  fixed top left
  size 100%
  cursor zoom-out
  img
    height 80%
    width auto
    @media screen and (max-width: 900px)
      width 100%
      height auto
    absolute top 45% left 50%
    transform translate(-50%, -50%)
  p
    absolute bottom 10% left 50%
    transform translateX(-50%)

.axis-info
  width 80vw
  min-width 800px
  height 80px
  position relative
  top 20px
  left 5px
  // border-top 2px solid rgba(0,0,0,.2)

.date-label
  position absolute
  font-size 10px

.axis-control
  text-align center
  padding-top 25px
  text-transform uppercase
  font-size 12px
  letter-spacing 1px
  .month-label
    display inline-block
    padding 0 30px
    width 150px
  .control
    cursor pointer
    display inline-block
    border-radius 5px
    padding 5px 7px
    color #fff
    background-color rgba(0,0,0,.2)
    transition all .2s
    &:hover
      background-color rgba(0,0,0,.4)

.view-login
  background-color #eee
  fixed top left
  size 100%
  .form-wrapper
    absolute top 50% left 50%
    transform translate(-50%, -50%)
    .title-anim
      display block
      height 200px
      width 200px
      padding-left 28px
      letter-spacing 1px
      margin-left auto
      margin-right auto
      font-size 30px
    .btn-login
      margin-left auto
      margin-right auto
      display block
      margin-top 30px
      width 200px
      height 40px
      line-height 40px
      text-align center
      background-color rgba(0,0,0,.8)
      color #fff
      font-size 12px
      letter-spacing 1px
      border-radius 3px
      cursor pointer
      transition all .3s
      text-transform uppercase
      .fa
        font-size 16px
        margin-right 15px
      &:hover
        background-color rgba(0,0,0,1)
    .credit
      font-size 12px
      margin-top 40px
      text-align center

.desc-subtitle
  absolute top 0 left 0
  z-index 5
  font-size 50px
  animation-name floating
  animation-duration 2s
  animation-iteration-count infinite

@keyframes floating
  0%, 100%
    transform translateY(3px)
  50%
    transform translateY(-3px)
