include template/_mixins.jade
extends template/_default.jade

block append css
  +ex_css('http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext')
block append hjs
  +ex_js('https://code.jquery.com/jquery-2.2.1.min.js')
  +jsF('main.js')

block contents
  .bg-insta-info
  .axis-wrapper
    .main-insta-view
    .axis-info
      .axis-control
        span.fa.fa-chevron-left.control#prev
        span.month-label
        span.fa.fa-chevron-right.control#next
  .img-fullscreen
    img
    p 
  .view-login
    .form-wrapper
      img.logo(src='./assets/images/logo.png')
      .btn-login 
        span.fa.fa-github
        span Login with GitHub