include template/_mixins.jade
extends template/_default.jade

block append css
  +ex_css('//cdn.jsdelivr.net/font-hack/2.019/css/hack.min.css')
block append hjs
  +ex_js('https://cdn.firebase.com/js/client/2.4.1/firebase.js')
  +ex_js('https://code.jquery.com/jquery-2.2.1.min.js')
  +jsF('main.js')

block contents
  .bg-insta-info
  .axis-wrapper
    .main-insta-view
    .axis-info
      .axis-control
        span.fa.fa-chevron-left.control#prev
        span.month-label
        span.fa.fa-chevron-right.control#next
  .img-fullscreen
    img
    p 
  //- .view-login
  //-   .form-wrapper
  //-     .title-anim
  //-       span.caption
  //-       span#cursor |
  //-     .btn-login 
  //-       span.fa.fa-github
  //-       span Login with GitHub